
/* Footer */

.site-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: $color__background-body;
	background-image: url('../../images/dark-wood.png');
	background-size: contain;
	background-repeat: repeat;
  .site-info p {
    margin-bottom: $base__space-unit/2;
    font-size: .7rem;
  }
  .footer-container {
    display: flex;
    flex-flow: row nowrap;
    width: 1120px;
    margin: $base__space-unit 0 $base__space-unit/5 0;
    .footer-logo {
      width: 25%;
      background:url('../../images/logos/inhabitent-logo-text.svg') no-repeat;
      background-size: 14rem 7rem;
      background-position: top right;
      padding-bottom: 4rem;
    }
    .footer-area {
      display: flex;
      flex-flow: row nowrap;
      width: 75%;
      .footer-block {
        display: flex;
        flex-flow: column nowrap;
        margin-right: $base__space-unit*3;
        h3 {
          color: $color__widget-header;
        }
        .footer-icons i {
            margin-right: $base__space-unit/4;
            text-decoration: none;
            color: $color__background-body;
        }
        .footer-info {
          display: flex;
          flex-flow: column nowrap;
          p {
            margin-bottom: $base__space-unit/2;
            margin-top: 0;
          }
          span {
            font-style: bold;
          }
          a {
            text-decoration: none;
            color: $color__background-body;
            margin-bottom: $base__space-unit/2;            
          }
        }
      }
    }
  }
}
