/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front page */

/*
 * Hero Banner
 */


 .home .content-area {
	background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url('../../images/home-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  .site-main {
    display: flex;
    justify-content: center;
    background-image: url('../../images/logos/inhabitent-logo-full.svg');
    background-size: 100%;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    background-position: center center;
  }
 }

.entry-header {
  display: none;
}
.site-branding {
  display: none;
}

/* About page */

#post-23 {
  margin: 0;
  
  .entry-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0, .4),rgba(0,0,0, .4)), url('../../images/about-hero.jpg') no-repeat;
    background-size: cover, cover;
    background-position: center bottom;
    height: 100vh;

    .entry-title {
      color: #fff;
      text-transform: uppercase;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .entry-content {
      margin: $base__space-unit*2 $base__space-unit*7;
      width: $base__space-unit*26;

      h2 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
      }
    }
  }
}  
/* Journal */

.post, .has-post-thumbnail {
  @include container-center;
  margin: $base__space-unit*2;
  flex-flow: column nowrap;
  width: 640px;
  .entry-header {
    @include container-center;
    position: relative;
    .entry-title {
      @include container-center;
      justify-content: initial;
      position: absolute;
      top: 2px;
      left: 0;
      background-color: $color__background-post;
      padding: $base__space-unit/2 $base__space-unit;
      a {
        text-decoration: none;
        color: $color__background-body;
      }  
      a:hover {
        color: $color-yellow;
      }
    }
  }
  .entry-meta {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $color__background-post;
    padding: $base__space-unit/6 $base__space-unit;
    color: $color__background-body;
    text-transform: uppercase;
  }
}

/* Find Us */

.site-detail {
  @include container-between;
  .widget-area {
    width: 25%;
    height: 100%;
    border-left: $color__background-pre solid 1px;
    display: flex;
    flex-flow: column nowrap;
  }
  #post-27 {
    margin: $base__space-unit*2;
    .entry-header {
      display: flex;
      // flex-flow: column wrap;
      // justify-content: center;
      // align-items: center;

      .entry-title {
        text-transform: uppercase;
      }
    }
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .entry-content {
        width: $base__space-unit*26;

        h2 {
          display: flex;
          text-transform: uppercase;
        }
      }
    }
  }  
} 


/* Footer */

.site-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: $color__background-body;
	background-image: url('../../images/dark-wood.png');
	background-size: contain;
	background-repeat: repeat;
  .site-info p {
    margin-bottom: $base__space-unit/2;
    font-size: .7rem;
  }
  .footer-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: $base__space-unit $base__space-unit*3 $base__space-unit/5 $base__space-unit*3;
    padding: 0 $base__space-unit*3;
    
    .footer-logo {
      width: 25%;
      background:url('../../images/logos/inhabitent-logo-text.svg') no-repeat;
      background-size: 14rem 7rem;
      background-position: top right;
      padding-bottom: 4rem;
    }

    .footer-area {
      display: flex;
      flex-flow: row nowrap;
      width: 75%;

      .footer-block {
        display: flex;
        flex-flow: column nowrap;
        margin-right: $base__space-unit*3;
        h3 {
          color: $color__widget-header;
        }
        .footer-icons i {
            margin-right: $base__space-unit/4;
            text-decoration: none;
            color: $color__background-body;
        }
        .footer-info {
          display: flex;
          flex-flow: column nowrap;
          p {
            margin-bottom: $base__space-unit/2;
            margin-top: 0;
          }
          span {
            font-style: bold;
          }
          a {
            text-decoration: none;
            color: $color__background-body;
            margin-bottom: $base__space-unit/2;            
          }
        }
      }
    }
  }
}