/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-detail {
  width: $body-width;
}
/*
 * Hero Banner
 */


.post-38 {
	background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url('../../images/home-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  .entry-header {
    display: flex;
    justify-content: center;
    background-image: url('../../images/logos/inhabitent-logo-full.svg');
    background-size: 100%;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    background-position: center center;
    h2 {
      display: none;
    }
  }
 }

.entry-header {
  display: none;
}
.site-branding {
  display: none;
}

//front-page

.product-section {
  @include container-center; 
  flex-flow: column nowrap;
  padding: 0 $base__space-unit;
  h1 {
    text-transform: uppercase;
  }
  .product-area {
    @include container-center;
    width: 1120px;
    justify-content: space-between;
    .products-display {
      @include container-center;
      margin-left: $base__space-unit/2;
      flex-flow: column nowrap;
      border: $color-border-solid solid 1px;
      border-top: $color-border-solid solid 5px;
      height: 18rem;
      width: 17rem;
      padding: $base__space-unit/2;
      img {
        height: 4rem;
        width: 4rem;
      }
      p {
        text-align: center;
      }
      a {
        background: $color__background-post;
        padding: 0 $base__space-unit;
        p {
          margin: $base__space-unit/2;
          text-transform: uppercase;
        }
      }
    }
  }
  article:hover {
    border: $color-organe solid 1px !important;
    border-top: $color-organe solid 5px !important;
  }
  article:nth-last-child(4){
    margin-left: 0 !important;
  }  
}
.journal-section { 
  @include container-center;
  flex-flow: column nowrap;
  margin: $base__space-unit 0;
  h1 {
    text-transform: uppercase;
  }
  .front-page-journal {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1120px;
    .front-single {
      width: 22rem;
      .thumbnail-wrapper {
        img {
          height: 15rem;
        }
      }
      .post-info-wrapper {
        @include display-column;
        height: 11rem;
        padding: $base__space-unit/2 $base__space-unit/2;
        border: 1px solid #e1e1e1;
        border-top: 5px solid #e1e1e1;
        p {
          margin: 0;
          padding: 0;
          display: inline-block;
        }
        .entry-meta p {
          color: $color-grey-medium;
        }
        .entry-content, h3 {
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          a {
            color: $color__background-post;
          }
          a:hover {
            color: $color-purple;
          }
        }
        .read-more {
          bottom: 0;
          a {
            color: $color__text-main;
            p {
              padding: $base__space-unit/4 $base__space-unit/2;
              border: $base__space-unit solid 1px;
              margin: none;
            }
          }
          p:hover {
            background: $color__background-post;
            color: $color__background-body;
          }
        }
      }  
    }
  }
}  
// Adventure Section
.adventure-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: $base__space-unit*2;
  #title {
    text-transform: uppercase;
  }
  #adventure-link{
    color: $color__background-body;
    background: $color__background-post;
    border: $color__background-body 1px solid;
    text-transform: uppercase;
    padding: .5rem 2rem;
  }
  #adventure-link a:hover {
    color: $color__background-body;
  }
  #adventure-link:hover {
    background: #19625d;    
  }
  .all-adventure-here {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: $body-width;
    height: 560px;
    position: relative;
    article {
      position: relative;
      overflow: hidden;
      .image-gradient{
        display: inline-block;
        background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4));
        z-index: 1;
      }
      .content-title {
        position: absolute;
        top: 0;
        padding-left: 2rem;
        h1 {
          font-family: $font__main;
          font-weight: normal;
        }
        p{
          border: $color__background-body 1px solid;
          display: inline-block;
          padding: $base__space-unit/4 $base__space-unit/2;
        }
        p:hover {
          background-color: $color__background-post;
          color: $color__background-body;
          border: none;
        }
      }
    }
    #post-131 {
      width: 550px;
      height: 560px;
      h1 {
        font-size: 3rem;
      }
      .image-gradient {
        width: 550px;
        height: 560px;
        img {
          height: 145%;
          width: auto;
          left: 50%;
          top: 70%;
          transform: translate(-50%, -70%);
          max-width: none;
          position: absolute;
          z-index: -5;
        }
      }
    }
    #post-134 {
      width: 550px;
      height: 270px;
      h1 {
        font-size: 2.3rem;
      }
      .image-gradient {
        width: 550px;
        height: 270px;
        img {
          height: 280px;
          height: 145%;
          width: auto;
          left: 50%;
          top: 70%;
          transform: translate(-50%, -70%);
          max-width: none;
          position: absolute;
          z-index: -5;
        }
      }
    }
    #post-139 {
      width: 265px;
      height: 270px;
      position: absolute;
      bottom: 0;
      right: 285px;
      h1 {
        line-height: 2.7rem;
      }
      .image-gradient {
        width: 540px;
        height: 560px;
        img {
          height: 145%;
          width: auto;
          left: 50%;
          top: 70%;
          transform: translate(-50%, -70%);
          max-width: none;
          position: absolute;
          z-index: -5;
        }
      }
    }
    #post-141 {
      width: 265px;
      height: 270px;
      position: absolute;
      bottom: 0;
      right: 0;
      h1 {
        line-height: 2.7rem;
      }
      .image-gradient {
        width: 540px;
        height: 560px;
        img {
          height: 145%;
          width: auto;
          left: 50%;
          top: 70%;
          transform: translate(-50%, -70%);
          max-width: none;
          position: absolute;
          z-index: -5;
        }
      }
    }
  }
}


/*
 **SHOP
 */

 .product-section-page {
  display: flex;
  justify-content: center;
  align-items: center;
  .product-sections {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .page-header{
      padding-top: $base__space-unit*2;
      padding-bottom: $base__space-unit*2;
      @include container-center;
      flex-flow: column nowrap;
      border-bottom: $dash-border;
      width: $body-width;
      h1 {
        text-transform: uppercase;
      }
      .product-type-name {
        @include container-center;
        justify-content: space-around;
        width: 300px;
        a {
          color: $color__background-post;
          text-transform: uppercase;
          &:hover {
            color: $color-purple;
          }
        }
      }
    }
    .all-product-here {
      @include display-column;
      flex-flow: row wrap;
      padding-top: $base__space-unit*2;
      padding-bottom:$base__space-unit*3;
      width: $body-width;      
      .product {
        @include container-center;
        width: 23.5%;
        .entry-header {
          display: flex;
          flex-flow: column wrap;
          @include solid-border;
          img {
            height: 15rem;
          }  
          .entry-title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: $base__space-unit/2;
            p {
              margin: 0;
            }
          }
        }  
      }
    }
  }
 }
 

/* Journal */

.post {
  margin: $base__space-unit*2 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  .entry-header {
    @include container-center;
    position: relative;
    z-index: -100;
    h1 {
      color: $color__background-body;
    }
    .entry-title {
      @include container-center;
      justify-content: initial;
      position: absolute;
      top: 2px;
      left: 0;
      background-color: $color__background-post;
      padding: $base__space-unit/2 $base__space-unit;
      a {
        text-decoration: none;
        color: $color__background-body;
      }  
      a:hover {
        color: $color-yellow;
      }
    }
    .entry-meta {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $color__background-post;
      padding: $base__space-unit/6 $base__space-unit;
      color: $color__background-body;
      text-transform: uppercase;
    }
  }
  .entry-content {
    margin: 0 0;
    width: 40rem;
    p {
      margin: 0 0;
      margin-top: $base__space-unit/2;
    }
  }
  .read-more {
      border: #000 solid 1px;
      margin-top: $base__space-unit;
    &:hover {
      background-color: $color__background-post;
      a {
        color: $color__background-body;
      }
    }
    a {
      color: $color__text-main;
    }
    p {
      margin: $base__space-unit/4 $base__space-unit;
    }
  }
}




