/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	margin: .9rem;
	margin-bottom: 0;
	padding-left: $base__space-unit*3;
	padding-top: $base__space-unit*2;
	border-left: $solid-border;
	.widget {
		width: 17rem;
	}
	h2 {
		text-transform: uppercase;
	}
	.day-of-week {
		font-weight: bold;
	}
	ul {
		margin: 0;
		a {
			color: $color__background-post;
		}
		a:hover {
			color: $color-purple;
		}
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
